In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# here we have imported the neccesary library

In [6]:
trained_data = pd.read_csv('california_linear.csv')
trained_data
# this is the trained data which has the new varibles in it  
# we see that we got the inland , island and the near bay varibales

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.70,39.14,13.0,6.278521,4.718499,5.370638,4.143135,3.3929,108300.0,0,1,0,0,0
1,-121.96,37.85,10.0,8.074026,5.940171,7.090077,5.973810,12.2478,500001.0,0,1,0,0,0
2,-122.69,38.44,31.0,7.500529,5.755742,6.539586,5.638355,3.8583,193200.0,1,0,0,0,0
3,-118.45,34.02,41.0,7.991931,6.552508,7.100852,6.470800,3.4583,421900.0,1,0,0,0,0
4,-118.35,33.96,26.0,7.928046,6.525030,7.353082,6.448889,3.1354,164300.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16341,-120.90,35.33,16.0,7.363280,5.662960,6.390241,5.572154,3.5880,266300.0,0,0,0,0,1
16342,-116.99,32.72,15.0,6.716595,4.875197,5.814131,4.882802,4.0391,169500.0,1,0,0,0,0
16343,-119.90,36.20,43.0,5.236442,3.663562,4.672829,3.713572,1.8750,137500.0,0,1,0,0,0
16344,-122.48,37.75,52.0,7.830426,6.204558,7.367709,6.169611,4.3393,317600.0,0,0,0,1,0
16345,-120.07,36.96,32.0,7.145984,5.648974,6.309918,5.613128,1.4511,65200.0,0,1,0,0,0